/*Criar variáveis para as cores principais*/
:root{
    --vermelho: #E50914;
    --preto: #141414;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Elementos Base*/
body{
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

header .container{
    display: flex;
    flex-direction: row; /*propriedade default*/
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}
/*FIM - Elementos Base*/

/*Filme Principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.30), rgba(0, 0, 0, .70)100%), url('../img/narutoOFilme.jpg');
    height: 400px;
    background-size: cover; /*Para que a foto se ajuste ao tamanho do container*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-bottom: 2%;
    margin-bottom: 20px;
}

.filme-principal .container{
    width: 90%;
}

.filme-principal .descricao{
    margin-top: 1%;
    margin-bottom: 5%;
}
.titulo{
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.botao{
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .4s ease all;
}

.botao i{
    margin-right: 8px;
}

.botao:hover{
    background-color: white;
    color: black;
}
.container{
    padding-left: 1%;
    padding-right: 1%;
}

/*-----------Glider js---------------*/
#melhoresFilmes .filmes{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 10px;
}
#melhoresFilmes header a{
    text-decoration: none;
    color: #fff;
}

#melhoresSeries .series{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 10px;
}
#melhoresSeries header a{
    text-decoration: none;
    color: #fff;
}

.glide{
    padding: 10px 0;
    width: 100%;
    margin-bottom: 10px;
}
.glide .glide__track .glide__slides .glide__slide img{
    max-width: 250px;
    width: 100%;
}

#glide__series{
    padding: 10px 0;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid white;
}
#glide__series .glide__track .glide__slides .glide__slide img{
    max-width: 250px;
    width: 100%;
}